body {
    background-color: black;
    background-size: cover;

    
    margin: 50px;
    padding: 0;
}

#all {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sexy {
    color: #F931FF;
    background-color: black;
    border: none;
    font-size: 15px;
    padding-top: 100%;
}
.butt {
    text-align: center;
    width: 250px;
    height: 75px;

}

#mainShit {
    text-align: left;
    color: white;
    padding-top: 150px;
    display: none;
}

